<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to Anomaly Detection of BMS</h1>
        <p class="lead"> </p>
        <p class="lead">Data collected from Sibros BMS, has been used for prediction of anomalies in future cases</p>
        <p class="lead">Enter your data and get predictions in real-time.</p>
        <a href="/predictdata" class="btn btn-primary">Cllck here to enter Required Data</a>
    </div>
</body>
</html>
